body {
  background-color: black;
}

header {
  display: flex;
  position: static;
  background-color: rgb(200, 200, 200);
}

header ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  gap: 20px;
} 

header a {
  color: goldenrod;
  text-decoration: none;
}

#page-logo a {
  color: goldenrod;
}

#navigations {
  text-align: left;
  margin-left: 200px;
}

main h1 {
  color: goldenrod;
}

main ul {
  list-style-type: none;
  display: flex;
  text-align: center;
  gap: 20px 20px;
}

main li {
  border-radius: 5px;
  color: rgb(26, 7, 7);
  background-color: antiquewhite;
  overflow: hidden;
  object-fit:cover;
}

main img {
  width: 300px;
  height: auto;
}

.actions a {
  color: white;
  background-color: goldenrod;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  display: inline-block;
}

.actions a:hover {
  background-color: gold;
}
